:host {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) 1fr 1fr;
  justify-items: stretch;
  height: 100%;
}

sidebar {
  grid-column: 1/2;
}
list {
  grid-column: 2/3;
}
chat {
  grid-column: 3/5;
}

router-outlet {
  position: absolute;
}
