:host {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  animation: show 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container {
  max-width: 80%;
  background: var(--bg-light);
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px var(--shadow);
  color: inherit;

  .time {
    font-size: 0.8rem;
    color: var(--fg-light);
    align-self: flex-end;
  }
}
.me {
  align-self: flex-end;
  background: var(--gradient);
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
