.blob{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    p{
        font-weight: 700;
        font-size: 18px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        animation: pulse 2s ease-in-out infinite;
    }
    svg{
        z-index: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        path{
            animation: morph 6s ease-in-out infinite alternate;
        }
    }
}
@keyframes morph {
    0%{
        transform: rotate(0deg);
        d:path("M170.4,-141.9C211,-85,227.4,-14.7,212.4,47.6C197.5,109.8,151.2,163.9,90.5,196.4C29.8,228.8,-45.4,239.7,-105.3,213C-165.2,186.3,-209.8,122.2,-222.8,54.1C-235.8,-14.1,-217.2,-86.2,-174.8,-143.6C-132.4,-200.9,-66.2,-243.5,-0.7,-242.9C64.9,-242.4,129.8,-198.8,170.4,-141.9Z")
    }
    50%{
        transform: rotate(90deg);
        d:path("M186.8,-153.6C219.3,-108.2,207.1,-31.8,184.5,31.9C161.8,95.7,128.6,147,74.9,183.7C21.1,220.4,-53.2,242.7,-111.9,219.4C-170.5,196.1,-213.5,127.3,-227.2,55.2C-241,-16.9,-225.7,-92.3,-182.9,-140.1C-140.2,-187.8,-70.1,-207.9,3.5,-210.7C77.1,-213.5,154.3,-199,186.8,-153.6Z")
    }
    100%{
        transform: rotate(180deg);
        d:path("M190.2,-158.3C231.3,-100.1,239,-21.9,217.4,40.4C195.8,102.7,145,149.1,85,178.9C25,208.7,-44.1,221.9,-104.3,199.5C-164.5,177.1,-215.8,119,-223.9,58.3C-232,-2.4,-196.9,-65.7,-152.4,-124.7C-107.9,-183.7,-53.9,-238.4,10.3,-246.6C74.5,-254.8,149.1,-216.5,190.2,-158.3Z")
    }
}
@keyframes pulse{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}