@import "src/assets/colors.scss";
.spinner {
  margin: 0 auto;
  height: 40px;
  width: 40px;
  position: relative;
  animation: spin 2s infinite linear;
  .dot1,
  .dot2 {
    width: 60%;
    height: 60%;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(to top, rgba(#ffff, 0.1), rgba(#000000, 0.2)),
      $asscent;
    animation: bounce 2s infinite ease-in-out;
  }
  .dot1 {
    top: 0;
  }
  .dot2 {
    bottom: 0;
    animation-delay: -1s;
  }
}
.label{
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.6;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
