form {
  padding: 15px;
  display: flex;
  align-items: flex-end;
  background: var(--bg-light);
}

.input-container {
  display: flex;
  align-items: flex-end;
  height: auto;
  width: 100%;
  padding: 2px;
  border: 2px solid var(--bg-dark);
  border-radius: 20px;
  background: var(--bg-light);
  color: inherit;
  font-family: inherit;
  &:focus-within {
    border: 2px solid var(--asst);
  }

  label{
    flex: none;
    background: none;
    display: flex;
    padding: initial;
    align-items: flex-end;
    svg{
      margin-right: 4px;
    }
  }
}

.icon {
  margin: 2px;
}
.input-container > div {
  padding: 4px 0px 4px 10px;
  max-height: 100px;
  max-width: 100%;
  flex: 1 1 auto;
  outline: none;
  word-break: break-word;
  transition: all 200ms;
  overflow: auto;
}

label {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;

  input[type="submit"] {
    background: none;
    outline: none;
    border: none;
    color: var(--fg-color);
  }

  &:last-child {
    background: var(--asst);
    filter: grayscale(0.2);
  }
}
