<form (ngSubmit)="send()">
  <div class="input-container">
    <div #inputbox contenteditable="true"></div>
    <label for="" (click)="showEmoji()">
      <input type="button"  hidden />
      <i data-feather="smile" class="icon" width="20px"></i>
    </label>
  </div>

  <label for="">
    <input type="button" hidden />
    <i data-feather="file" class="icon" height="20px" width="20px"></i>
  </label>

  <label for="send">
    <input type="submit" value="SEND" />
    <i data-feather="corner-down-left" class="icon" height="16px" width="16px"></i>
  </label>
</form>
