:host {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  animation: reveal 200ms ease-out;
}
.wrapper {
  height: 100%;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  .btn {
    display: flex;
    width: 50px;
    align-items: center;
    opacity: 0.5;
    transition: opacity 200ms;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px;
    .item {
      display: flex;
      padding: 10px;
      border-bottom: 1px solid var(--bg-light);
      .control {
        margin-left: auto;
      }
    }
  }
}
//Toggles
input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 12px;
  background-color: var(--fg-light);
  border-radius: 20px;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 2px 8px var(--shadow);
    transition: all 0.3s;
  }
}
input:checked + label {
  background: var(--asst);
}
input:checked + label:after {
  margin-left: 16px;
}

//Select
select {
  display: block;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 2px 4px;
  font-family: inherit;
  color: var(--fg-color);
  background: var(--bg-light);
  option {
    color: initial;
  }
}
@keyframes reveal {
  from {
    transform: translateY(5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
