// $gradient: linear-gradient(to right, #4facfe , #00f2fe );
// $gradient_dark: linear-gradient(to left, #4521c5, #c71f46);
// $asscent: #4facfe;
// #202040
// #202060
// #602080
// #b030b0
$gradient: linear-gradient(to right, rgb(176, 48, 176) , rgb(32, 32, 96));
$gradient_dark: linear-gradient(to right, rgb(134, 37, 134) , rgb(32, 32, 96));
$asscent: #602080;
$bg:#fff;
$bg-txt:rgba(32, 32, 64, 0.6);
$primary:#fff;
$secondary:rgba(51, 32, 96);
$secondary80:rgba(51, 32, 96,0.8);
$dark50:rgba($color: #08011a, $alpha: 0.5);
$dark20:rgba($color: #08011a, $alpha: 0.2);
$asscent20:rgba(96, 32, 128,0.2);