:host {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--bg-light);
}

img {
  height: 40px;
  border-radius: 100%;
}

p {
  margin-left: 20px;

  span {
    font-size: 0.9rem;
    color: var(--fg-light);
  }
}

.call {
  margin-left: auto;

  .icon {
    height: 20px;
    margin: 0 10px;
    color: var(--fg-light);

    &:hover {
      color: inherit;
    }
  }
}
