@import 'src/assets/colors.scss';

.container {
  width: 100%;
  height: 100%;
  position: relative;
  .avatar {
    text-align: center;
    margin: 38px 10px 0px;
    img {
      height: 100px;
      border-radius: 50%;
    }
  }
  .status{
    width: 100%;
    text-align: center;
    select{
      padding: 5px 8px;
      appearance: none;
      border: none;
      border-bottom: solid 2px $dark20;
      color: rgba($color: #000000, $alpha: 0.7);
      &:focus{
        outline: 0;
      }
    }
  }
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  .inputgrp {
    margin-top: 20px;
    position: relative;
    input {
      padding: 10px 10px;
      border: none;
      outline-style: none;
      color: $dark20;
      font-size: 14px;
    }

    input::placeholder {
      color: $dark50;
    }
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      background: $dark50;
    }
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: $gradient;
      transform: scale(0);
      transition: transform 300ms;
    }
    &:focus-within::after {
      transform: scale(1);
    }
    i {
      opacity: 0.6;
    }
  }
  .btn {
    margin-top: 20px;
    padding: 8px 5px;
    outline-style: none;
    color: rgba($color: #000000, $alpha: 0.7);
    width: 100px;
    border-radius: 50px;
    border: solid 2px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      $gradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    cursor: pointer;
    transition: all 200ms;
    &:hover {
      font-weight: 600;
      box-shadow: none;
      color: white;
    }
  }
}
