<div class="container">
  <div class="avatar"><img src="assets/1.jpg" alt="" srcset="" /></div>
  <div class="status">
    <select name="status" id="status">
      <option value="online">Online</option>
      <option value="busy">Busy</option>
      <option value="away">Away</option>
    </select>
  </div>
  <div class="details">
    <div class="inputgrp">
      <i class="uil uil-user"></i
      ><input type="text" name="name" id="name" placeholder="Full Name" />
    </div>
    <div class="inputgrp">
      <i class="uil uil-envelope"></i
      ><input type="email" name="mail" id="mail" placeholder="Mail" />
    </div>
    <div class="inputgrp">
      <i class="uil uil-lock"></i
      ><input
        type="password"
        name="password"
        id="newpassword"
        placeholder="Password"
      />
    </div>
    <button class="btn">Save</button>
  </div>
</div>
