@import 'src/assets/colors.scss';

:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #e7ebee;
  position: relative;
  z-index: 0;
  user-select: none;

  img {
    -webkit-user-drag: none;
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    float: left;
  }

  p {
    padding: 15px 0 0 0;
    float: left;
    width: 220px;

    strong {
      opacity: 0.8;
      font-weight: 700;
      font-size: 15px;
      color: $secondary;
    }

    span {
      font-weight: 600;
      font-size: 13px;
      color: $dark50;
    }
  }

  .status {
    background: #26c281;
    border-radius: 50%;
    border: solid #FFF 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 46px;
    left: 44px;
  }

  .away {
    background: #ffce54;
  }

  .inactive {
    background: #eaeef0;
  }

  .select {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: $dark20;
    display: none;

    i {
      font-size: 20px;
    }

    i:hover {
      color: $dark50;
    }
  }

  &:before {
    content: '';
    height: 100%;
    width: 4px;
    position: absolute;
    left: 0;
    background: $asscent;
    z-index: 1;
    transform: translate(-4px, -4px);
    transition: all 300ms;
  }

  &:hover {
    background: $primary;
    cursor: pointer;

    .select {
      display: block;
    }
  }

  &:hover:before {
    transform: translate3d(0, 0, 0);
  }
}
