<div class="profile">
  <img src="" alt="John Doe" srcset="assets/avatar.jpg" />
  <p class="title">John Doe</p>
  <p class="subtitle">johdoe@gmail.com</p>
</div>
<ul class="items">
  <li class="item active">
    <i data-feather="message-square" width="16px"></i>Conversations
  </li>
  <li class="item">
    <i data-feather="hash" width="16px"></i>Channels
  </li>
  <li class="item">
    <i data-feather="users" width="16px"></i>Users
  </li>
  <li class="item" (click)="logout()">
    <i data-feather="log-out" width="16px"></i>Logout
  </li>
  <li class="item">
    <i data-feather="sliders" width="16px"></i>Settings
  </li>
</ul>