:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: var(--bg-dark);
}

.profile {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
  background-size: 150%;
  animation: infi 2s infinite linear alternate;

  .title {
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: solid var(--fg-color) 3px;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 15px var(--shadow);
  }
}

.items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: all 200ms linear;

    svg {
      margin-right: 10px;
      fill: transparent;
      transition: all 200ms linear;
    }

    &:hover svg {
      fill: var(--fg-color);
    }

    &:hover {
      background: var(--bg-light);
      color: inherit;
    }
  }

  .active {
    opacity: 1;
    svg {
      fill: var(--fg-color);
    }
  }

  .item:nth-child(4) {
    margin-top: auto;
  }
}

@keyframes infi {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}
