<div class="profile">
  <img [src]="currentUser.img" alt="John Doe" />
  <div class="details">
    <p class="title">
      {{currentUser.name}}
      <span (click)="showProfile()"><i data-feather="edit" class="edit"></i></span>
    </p>
    <p class="status">
      Active
      <span><i data-feather="chevron-down" class="edit"></i></span>
    </p>
  </div>

</div>
<ul class="items">
  <li class="item " (click)="throwError()">
    <i data-feather="message-square" width="16px"></i>Conversations
  </li>
  <li class="item" (click)="throwWarn()">
    <i data-feather="grid" width="16px"></i>Channels
  </li>
  <li class="item active" (click)="throwSuccess()">
    <i data-feather="users" width="16px"></i>Users
  </li>
  <li class="item" (click)="logout()">
    <i data-feather="log-out" width="16px"></i>Logout
  </li>
  <li class="item" (click)="toSettings()">
    <i data-feather="settings" width="16px"></i>Settings
  </li>
</ul>