:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: var(--bg-dark);
}

.profile {
  padding: 24px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg-color);
  -webkit-text-stroke: 0;
  background-size: 200%;

  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid var(--fg-color) 2px;
    margin-right: 8px;
  }
  .details {
    max-width: 130px;

    .title {
      text-transform: uppercase;
    }
    .status {
      opacity: 0.8;
    }
    span {
      display: inline-block;
      height: 13px;
      width: 13px;
      cursor: pointer;
      svg {
        height: 100%;
        width: 105%;
      }
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    opacity: 0.7;
    z-index: 0;
    svg {
      margin-right: 12px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 95%;
      height: 90%;
      background: none;
      transform: translate(-50%, -50%);
      border-radius: 2px;
      z-index: -1;
      transition: all 200ms linear;
    }

    &:hover::after {
      background: var(--bg-light);
    }
  }

  .active {
    opacity: 1;

    &::after {
      background: var(--bg-light);
      box-shadow: 0px 16px 10px -16px var(--shadow);
    }

    &:hover {
      background: none;
    }
  }

  .item:nth-child(3) {
    margin-top: auto;
  }
  .item:last-child::after{
    transform: translate(-50%,-60%);
  }
}
