:host {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--bg-dark);
}

.sticky-section {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 16px 8px;
  border-bottom: 1px solid var(--bg-dark);
  background-color: var(--bg-color);
  z-index: 5;

  label {
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 4px 12px;
    transition: all 200ms;

    input {
      min-width: 0;
      border: none;
      margin: 0 auto;
      outline: none;
      background-color: transparent;
      font-family: "Poppins";
      color: var(--fg-color);
    }

    &:first-child {
      background: var(--bg-light);
      border-radius: 24px;
      border: 2px solid var(--bg-dark);
    }
    &:focus-within {
      border: 2px solid var(--asst);
    }
    &:last-child:focus-within > svg {
      stroke: var(--asst);
    }
    .icon {
      opacity: 0.7;
      margin-left: 4px;
      width: 20px;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
  padding: 10px 0 10px 10px;
}
