.wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 30px 0 20px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  z-index: 20;
}

.toast {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  margin: 2px auto;
  color: var(--fg-color);
  border-radius: 8px;
  background-color: var(--bg-dark);
  overflow: hidden;
  animation: push 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  box-shadow: 0px 2px 14px 1px var(--shadow);
  .header {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    span {
      padding: 4px;
      margin-left: auto;
      background: hsla(0, 0, 0, 0.2);
      cursor: pointer;
      border-radius: 20px;
      svg {
        stroke-width: 4px;
        display: block;
        margin: auto 0;
      }
    }
    p {
      margin: 2px 4px;
    }
  }
  .content {
    margin: 8px 12px;
  }
  .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--fg-color);
    transition: all 200ms;
  }
}

.error {
  .header {
    background-color: var(--err);
  }
}

.warn {
  .header {
    font-weight: 500;
    background-color: var(--warn);
    color: hsla(0, 0, 0, 0.7);
    svg {
      stroke: #fff;
    }
  }
}

.success {
  .header {
    background-color: var(--success);
  }
}

@keyframes push {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
