<div class="wrapper">
  <ng-container *ngFor="let toast of toasts">
    <div
      class="toast"
      *ngIf="!toast.dismissed"
      [ngClass]="{
        error: toast.type == 'error',
        warn: toast.type == 'warn',
        success: toast.type == 'success'
      }"
    >
      <div class="header">
        <p>{{ toast.title }}</p>
        <span (click)="toast.dismissed = !toast.dismissed">
          <i data-feather="x" width="12px" height="12px"></i>
        </span>
        <div class="progress" [style.width]="toast.percent+'%'"></div>
      </div>
      <p class="content">{{ toast.content }}</p>
    </div>
  </ng-container>
</div>
