:host {
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  height: 100%;
}

#messages {
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  
  message:nth-child(1) {
    margin-top: auto;
  }
}
