/* You can add global styles to this file, and also import other style files */
@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background-color: #121212;
  }
}

:root{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
