:root {
  --bg-color: hsl(0, 0%, 10%);
  --bg-dark: hsla(0, 0%, 0%, 0.2);
  --bg-light: hsla(0, 0%, 100%, 0.05);
  --fg-color: hsla(0, 0%, 100%, 0.9);
  --fg-light: hsla(0, 0%, 100%, 0.5);
  --shadow: hsla(0, 0%, 0%, 0.1);
  --gradient: linear-gradient(
    120deg,
    hsl(142, 70%, 50%) 0%,
    hsl(200, 70%, 60%) 100%
  );
  --asst: hsl(142, 70%, 50%);
  --selection: hsl(200, 90%, 60%);
}

.light {
  --bg-color: hsla(0, 0%, 95%, 1);
  --bg-dark: hsla(0, 0%, 90%, 1);
  --bg-light: hsla(0, 0%, 100%, 1);
  --fg-color: hsla(0, 0%, 30%, 1);
  --fg-light: hsla(0, 0%, 0%, 0.5);
  --shadow: hsla(0, 0%, 0%, 0.1);
  --gradient: linear-gradient(
    120deg,
    hsl(142, 80%, 70%) 0%,
    hsl(200, 90%, 70%) 100%
  );
  --asst: hsl(142, 70%, 60%);
  --selection: hsl(200, 90%, 70%);
  -webkit-text-stroke: 0.28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: -apple-system, "Poppins", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  -webkit-text-stroke: 0.02px;
  color: var(--fg-color);
  background: var(--bg-color);
  overflow: hidden;
  user-select: none;
  position: relative;
}

::selection {
  background: var(--selection);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  height: 12px;
  width: 12px;
}

:hover::-webkit-scrollbar-thumb {
  border-radius: 4px 0 0 4px;
  background: var(--asst);
}

.loader {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px; 
    border-radius: 100%;
    border: 2px solid var(--asst);
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  &::after {
    animation: pulse 2s infinite ease-out;
  }
  &::before {
    animation: pulse 2s infinite -1s ease-out;
  }
}
@keyframes pulse {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
