:host {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  animation: show 400ms ease-out;
}

.container {
  max-width: 80%;
  background: var(--bg-light);
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;

  .time {
    font-size: 0.8rem;
    color: var(--fg-light);
    align-self: flex-end;
  }
}
.me {
  align-self: flex-end;
  background: var(--asst);
}
@keyframes show {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1 ;
    transform: translateX(0);
  }
}
