<div class="wrapper">
  <div class="hero">
    <p class="title">Welcome back!</p>
    <p>Just fill in tiny details to get started!</p>
  </div>
  <form>
    <div *ngIf="isFail" class="error">{{errMessage}}</div>
    <div class="input-group">
      <i data-feather="user" class="icon"></i>
      <input type="email" name="" id="" placeholder="E - mail Address" />
    </div>
    <div class="input-group">
      <i data-feather="lock" class="icon"></i>
      <input type="password" placeholder="Password" />
    </div>
    <div class="cta">
      <div (click)='enter()' class="btn">
        sign in
        <i data-feather="chevron-right" class="icon"></i>
      </div>
      <div (click)="signup()" class="btn secondary">
        sign up
        <i data-feather="edit-2" class="icon"></i>
      </div>
    </div>
  </form>
</div>
