.wrapper {
  height: calc(100% - 30px);
  width: 100%;
  text-align: center;
  display: grid;
  place-content: center;
  background: url("assets/ocean.jpg");
  background-size: cover;
  animation: flow 20s infinite ease-out alternate;

  .title {
    margin-bottom: 32px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;

    .input-group {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      padding: 0 16px;
      border-radius: 20px;
      border: 2px solid transparent;
      backdrop-filter: blur(4px) brightness(1.5);
      transition: all 0.3s;

      input {
        padding: 8px 4px;
        border: none;
        outline: none;
        color: var(--fg-color);
        background-color: transparent;
      }

      input[type="submit"] {
        padding: 4px 4px;
        cursor: pointer;
      }

      &:focus-within {
        border: 2px solid var(--asst);
      }
      &:last-child {
        align-self: flex-end;
        cursor: pointer;
      }
    }
    .valid {
      background: var(--asst);
    }
    .invalid {
      border: 2px solid var(--err);
    }
  }
  .switch-form {
    margin-top: 12px;
    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.icon {
  margin: auto 0;
  margin-right: 4px;
  height: 14px;
  width: 14px;
}

@keyframes flow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1200%;
  }
}
