<div class="wrapper">
  <div class="hero">
    <p class="title">Welcome back!</p>
    <p>Just fill in tiny details to get started!</p>
  </div>
  <form #f="ngForm">
    <div class="input-group">
      <i data-feather="user" class="icon"></i>
      <input type="email" name="mail" ngModel placeholder="E - mail Address" />
    </div>
    <div class="input-group">
      <i data-feather="lock" class="icon"></i>
      <input type="password" name="pwd" ngModel placeholder="Password" />
    </div>
    <div class="cta">
      <div (click)='submit(f)' class="btn">
        sign in
        <i data-feather="chevron-right" class="icon"></i>
      </div>
      <div (click)="signup(f)" class="btn secondary">
        sign up
      </div>
    </div>
    <div *ngIf="isFail" class="error">{{errMessage}} 
      <span class="close" (click)="isFail = !isFail">x</span>
    </div>
  </form>
</div>
