.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero {
    width: 100%;
    padding: 30px 40px;
    border-bottom: 1px solid var(--bg-light);
    background: var(--gradient);
    .title {
      font-size: 1.5rem;
    }
  }
  form {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      padding-left: 8px;
      border-radius: 20px;
      border: 2px solid transparent;
      background: var(--bg-light);
      box-shadow: 2px 4px 12px var(--shadow);

      input {
        width: 100%;
        height: 100%;
        padding: 8px 16px 8px 4px;
        border: none;
        outline: none;
        color: var(--fg-color);
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
      }
      &:focus-within {
        border: 2px solid var(--asst);
      }
    }
    .cta {
      display: flex;
      justify-content: space-evenly;
      .btn {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: 20px;
        background: var(--gradient);
        background-size: 150%;
        box-shadow: 2px 4px 12px var(--shadow);
        text-transform: uppercase;
        transition: filter 200ms;
        &:hover {
          cursor: pointer;
          filter: contrast(1.3);
        }
      }
      .secondary {
        background: transparent;
        border: 2px solid var(--bg-light);
        opacity: 0.8;
      }
    }
  }
}

.icon {
  opacity: 0.8;
  height: 16px;
}
