.wrapper {
  height: calc(100% - 30px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--bg-light);
    background: var(--gradient);
    z-index: 50;
    .title {
      font-size: 1.5rem;
    }
  }
  form {
    margin: auto 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      padding-left: 4px;
      border-radius: 20px;
      border: 2px solid transparent;
      background: var(--bg-light);
      box-shadow: 2px 4px 12px var(--shadow);

      input {
        width: 100%;
        height: 100%;
        padding: 8px 16px 8px 4px;
        border: none;
        outline: none;
        color: var(--fg-color);
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
      }
      &:focus-within {
        border: 2px solid var(--asst);
      }
      .icon{
        margin:0 8px;
        opacity: 0.5;
      }
    }
    .cta {
      display: flex;
      flex-direction: row-reverse;
      .btn {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: 20px;
        background: var(--gradient);
        background-size: 150%;
        box-shadow: 2px 4px 12px var(--shadow);
        text-transform: uppercase;
        transition: filter 200ms;
        &:hover {
          cursor: pointer;
          filter: contrast(1.3);
        }
      }
      .secondary {
        background: transparent;
        border: none;
        box-shadow: none;
        opacity: 0.8;
      }
    }
  }
}

.icon {
  opacity: 1;
  height: 16px;
  width: 16px;
}

.error {
  position: absolute;
  display: flex;
  align-items: flex-start;
  bottom: 0;
  left: 50%;
  width: 80%;
  color: #eee;
  padding: 4px 4px 4px 8px;
  border-radius: 12px;
  background-color: hsl(7, 90%, 45%);
  animation: push .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  z-index: 5;
  .close{
    margin-left: auto;
    color: hsl(348, 100%, 50%);
    font-weight: 700;
    padding: 0 4px;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
  }
}

@keyframes push {
  from{
    opacity: 0;
    transform: translate(-50%,40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}
