:host {
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
}

.messages {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
