@import 'src/assets/colors.scss';
.container {
  height: 32px;
  width: 100%;
  background: $secondary;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  position: relative;
  z-index: 0;

  .title {
    width: 182px;
    font-size: 13px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    color: $primary;
    margin: auto 0;
    img{
      position: absolute;
      height: 20px;
      left: 5px;
      z-index: -1;
    }
    p {
      margin: auto 30px;
      font-family: "Segoe UI";
    }
  }
  .controls {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    .btn {
      width: 36px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: $primary;
        font-size: 16px;
      }
    }
    .close:hover {
      background: crimson;
      i {
        color: $primary;
      }
    }
    .min:hover {
      background: $dark50;
      i {
        color: $primary;
      }
    }
    .log:hover {
      i {
        color: chartreuse;
      }
    }
  }
}
