<ul>
  <li><img src="assets/icons/favicon.png" /></li>
  <li class="title">Grid Messenger</li>
  <li>
    <span (click)="toggleMode()" class="toggle" [ngClass]="{night : isDark}">
      <i data-feather="moon" class="icon" width="16px"></i>
      <i data-feather="sun" class="icon" width="16px"></i>
    </span>
    <span (click)="minimize()">
      <i data-feather="minus" class="icon" width="16px"></i>
    </span>
    <span (click)="close()">
      <i data-feather="x" class="icon" width="16px"></i>
    </span>
  </li>
</ul>